<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devour}}">
        {{#if devoured}}Throw Up!{{else}}Devour Time!{{/if}}
    </button>

    <button class="delete-burgeregrub" data-id="{{id}}">Throw Away</button>
</li>